# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual env
venv/
ENV/
env/

# Pytest
.pytest_cache/
.coverage
htmlcov/

# VSCode
.vscode/

# MacOS
.DS_Store

# Streamlit cache
.streamlit/

# Logs
*.log

# Frigo local
data/data.json
