altair==5.5.0
attrs==25.3.0
black==25.1.0
blinker==1.9.0
cachetools==6.1.0
certifi==2025.7.9
cfgv==3.4.0
charset-normalizer==3.4.2
classify-imports==4.2.0
click==8.2.1
coverage==7.9.2
distlib==0.3.9
filelock==3.18.0
flake8==7.3.0
gitdb==4.0.12
GitPython==3.1.44
identify==2.6.12
idna==3.10
iniconfig==2.1.0
isort==6.0.1
Jinja2==3.1.6
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
MarkupSafe==3.0.2
mccabe==0.7.0
mypy==1.16.1
mypy_extensions==1.1.0
narwhals==1.46.0
nodeenv==1.9.1
numpy==2.3.1
packaging==25.0
pandas==2.3.1
pathspec==0.12.1
pillow==11.3.0
platformdirs==4.3.8
pluggy==1.6.0
pre_commit==4.2.0
protobuf==6.31.1
pyarrow==20.0.0
pycodestyle==2.14.0
pydeck==0.9.1
pyflakes==3.4.0
Pygments==2.19.2
pytest==8.4.1
pytest-cov==6.2.1
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
referencing==0.36.2
reorder_python_imports==3.15.0
requests==2.32.4
rpds-py==0.26.0
six==1.17.0
smmap==5.0.2
streamlit==1.46.1
tenacity==9.1.2
toml==0.10.2
tornado==6.5.1
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
virtualenv==20.31.2
watchdog==6.0.0
